<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Documents<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="document_mtp.html">Medication Treatment Plan document</a></li>
            <li><a href="document_pre.html">Medication Prescription document</a></li>
            <li><a href="document_dis.html">Medication Dispense document</a></li>
            <li><a href="document_padv.html">Pharmaceutical Advice document</a></li>
            <li><a href="document_pml.html">Medication List document</a></li>
            <li><a href="document_pmlc.html">Medication Card document</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="guidance_index.html">Index</a></li>
            <li><a href="guidance_datatypes.html">Datatypes</a></li>
            <li><a href="guidance_treatment.html">Treatment</a></li>
            <li><a href="guidance_others.html">Others</a></li>
            <li><a href="guidance_compositions.html">Compositions</a></li>
            <li><a href="http://build.fhir.org/ig/hl7ch/ch-emed/dosage.html" target="_blank">CH-EMED: Dosage</a></li>
            <li><a href="http://build.fhir.org/ig/hl7ch/ch-emed/different-authors.html" target="_blank">CH-EMED: Different Authors</a></li>
            <li><a href="http://build.fhir.org/ig/hl7ch/ch-emed/repeated-dispense.html" target="_blank">CH-EMED: Repeated Dispense</a></li>
        </ul>
    </li>
    <li><a href="artifacts.html">Artifacts</a></li>
    <li><a href="workflow.html">Workflows</a></li>
    <li><a href="changelog.html">Changelog</a></li>
    <li><a href="qa.html">QA</a></li>
</ul>