<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Documents<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="document_mtp.html">Medication Treatment Plan document</a></li>
            <li><a href="document_pre.html">Medication Prescription document</a></li>
            <li><a href="document_dis.html">Medication Dispense document</a></li>
            <li><a href="document_padv.html">Pharmaceutical Advice document</a></li>
            <li><a href="document_pml.html">Medication List document</a></li>
            <li><a href="document_pmlc.html">Medication Card document</a></li>
        </ul>
    </li>
    <li><a href="artifacts.html">Artifacts</a></li>
    <li><a href="workflow.html">Workflow</a></li>
    <li><a href="qa.html">QA</a></li>
</ul>